on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '30 6 * * 1,3,5'

name: Render my document

jobs:
  render:
    name: Render my document
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Install rmarkdown
        run: Rscript -e 'install.packages(c("rmarkdown", "jsonlite", "curl", "glue", "httr2", "dplyr"))'
      - name: Render my document to all types
        run: Rscript -e 'rmarkdown::render("README.Rmd", output_format = "github_document")'
      - name: Commit results
        run: |
          git add README*
          git commit -m 'Re-build my-document' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
